<?xml version="1.0"?>
    <launch>
  
   
    <include file="$(find robotics_challenges)/launch/Challenge2b.launch" /> 
    
    <node pkg="marouane_sobti" name="robot_move_test" type="Challenge2b.py" output="screen" />

    <!-- <node pkg="marouane_sobti" name="robot_move_test" type="robot_move_test.py" output="screen">  -->
<!-- </node> -->
 
        
</launch>
